@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:wght@400&display=swap');
.section{
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 1em 0.5rem;
    box-shadow: 2px 2px 1px rgb(161, 159, 159);
    font-family: Roboto;
    width:17rem;
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
}
.section-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Kanit;
    font-weight: 500;
}
.section-head>h2{
    font-size: 16sp;
    margin:0;
}
.section-body{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.mdi-btn{
    height: 40px;
    width: 40px;
    padding:7px 5px;
}
.hidden{
    display: none;
}
label{
    text-align: left;
    font-size: 14sp;
}

input{
    padding: 1em 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
}
textarea{
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
}
#summaryInput{
    resize:none
}
.submit-btn{
    margin-top: 0.5rem;
}
.educ_entry,.experience_entry{
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}
.entry{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-top: 2px solid white;
    padding-top: 0.5rem;
}
.btn-close{
    align-self: flex-end;
}
.res-div{
    display: flex;
    flex-direction: column;
}
.res-div>button{
    align-self: flex-end;
}
.listItem-entry{
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 0.5rem;
    align-items: center;
}

@media only screen and (max-width:425px) {
    .section{
      width: 100%;
    }
  }